<ion-view view-title="Tinder">
  <ion-header-bar class="bar-default">
   <h1 class="title">TD Cards</h1>
  </ion-header-bar>
    <td-cards>
        <td-card ng-repeat="card in cards" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
            <div class="image" >
              <div class="no-text">NOPE</div>
              <img ng-src="{{card.image}}">
              <p class="name">{{card.name}} - {{card.age}} ans</p>
              <p class="sexe">{{card.sexe}}</p>
              <div class="yes-text">LIKE</div>
            </div>
            <button class="btn-dislike button button-assertive" ng-click="cardSwipedLeft($index)">
              <i class="fa fa-ban"></i>
            </button>

              <a class="btn-profil button button-positive" href="#/app/cards/{{card.id}}" value="{{card.id}}">
                <i class="fa fa-eye"></i>
              </a>

            <button class="btn-like button button-balanced" ng-click="cardSwipedRight($index)">
              <i class="fa fa-heart"></i>
            </button>

             <button class="btn-pause button button-block button-stable" ng-click="standBy($index)">
              <i class="fa fa-pause"></i>
            </button>
        </td-card>
    </td-cards>
</ion-view>
